.age-form {
  position: relative;
  padding-bottom: utopia.clamp(63, 47);
  border-bottom: 2px solid var(--color-light-200);
}

.age-form fieldset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 544px;
  gap: utopia.clamp(16, 32);
  padding: 0;
  border: 0;
}

@media (max-width: 374px) {
  .age-form fieldset {
    grid-template-columns: repeat(2, 1fr);
  }

  .age-form fieldset :last-child {
    grid-column: span 2;
  }
}

.age-form .field {
  max-width: 160px;
  color: var(--color-light-300);
  font-size: utopia.clamp(12, 14);
}

.field label {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.5px;
}

/* Hide the spinbutton in Firefox */
.field input[type=number] {
  -moz-appearance: textfield;
}
/* and in Chrome browsers */
.field input::-webkit-inner-spin-button,
.field input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field input {
  width: 100%;
  font-size: utopia.clamp(20, 32);
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid var(--color-light-200);
  padding: 12px utopia.clamp(16, 24);
  margin-top: 8px;
  color: var(--color-dark);
}

.field input::placeholder {
  opacity: .8;
  color: var(--color-light-300);
}

.field input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.field .error {
  margin-top: 8px;
  font-style: italic;
  color: var(--color-warning);
}

.field .error:empty {
  display: none;
}


.age-form button[type=submit] {
  /* Custom prop for setting background and border color */
  --button-color: var(--color-primary);

  width: utopia.clamp(64, 96);
  height: utopia.clamp(64, 96);
  border-radius: 9999px;
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
  transition: 40ms;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}

.age-form button[type=submit]:hover,
.age-form button[type=submit]:active {
  --button-color: var(--color-dark);
  transition: 160ms;
}

.age-form button[type=submit]:active {
  transform: translateY(50%) scale(95%);
}

.age-form button[type=submit]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-light-100), 0 0 0 8px var(--color-primary);
}

.age-form button svg {
  width: utopia.clamp(28, 46);
}

@media (max-width: 480px) {
  .age-form button[type=submit] {
    right: 50%;
    transform: translate(50%, 50%);
  }

  .age-form button[type=submit]:active {
    transform: translate(50%, 50%) scale(95%);
  }
}


/* If there's an error, use red for labels and borders */
.field.has-error label {
  color: var(--color-warning);
}

.field.has-error input {
  border-color: var(--color-warning);
}
