/* WEB FONTS */

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
}

/* poppins-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v21-latin-italic.woff2') format('woff2');
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
}

/* poppins-800italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/poppins-v21-latin-800italic.woff2') format('woff2');
}


/* GLOBAL */

:root {
  /* Color tokens */
  --color-primary: #864CFF;
  --color-warning: #FF5757;
  --color-light-100: #FFFFFF;
  --color-light-200: #F0F0F0; /* page background and border */
  --color-light-300: #716F6F; /* form label and placeholder */
  --color-dark: #151515;

  /* Fluid values */
  @utopia clamps({
    minWidth: 375,
    maxWidth: 872,
    pairs: [
      [56, 104]
    ],
    prefix: "fluid",
  });
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

body {
  font-family: Poppins, Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  background-color: var(--color-light-200);
  color: var(--color-dark);
  margin: 0;
}


/* UTILITIES */

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
